html {background-color: rgb(83, 234, 253);
    font-family: "Bitcount Grid Single", system-ui;
}
#kon{
    background-color: red;
}
#m1 {
    background-color: white;
 

}
#m2 {
    background-color: gray;

   
  
}
#m3 {
    background-color: sandybrown;

 
}
#zdj {
    width: 100%;
    height: auto;
    display: inline-block;
}
#map{
    align-self: center;
    width: 90%;
    height: auto;
   
}
#lin1{
    width: auto;
    background-color: lightyellow;
}
#lin2{
    
        display: flex;
        flex-direction: row;
       justify-content: center;
       align-items: center;
}
#zdj1 {
    width: 10%;
    align-content: center;
  
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn {
    transition: 0,3s;
    background-color: rgb(83, 234, 253);
    border: none;
    cursor: pointer;

}
#com {
    color: blue;
    background-color: gray;
    background-position: center;
    background-size: 97%;
    
}
#com1 {
    display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    background-color: silver;
    opacity: 50%;
    background-position: center;
    background-size: 50%;
}